body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
    background-color: #ffffff;
}

.navbar{
    margin-bottom: 0px;
}

#left-panel{
    background-color: #fafafa;
    padding-top: 20px;
}

#main-content{
    background-color: #ffffff;
}

.navbar-inner{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.row{
    background-color: #ffffff;
}

.menu-select{
    width: 150px;
    float: left;
    margin-top: 100px;
}

/********* Utils *********/

.center{
    text-align: center;
}

.inline{
    display: inline;
}

.left{
    float: left;
}

.right{
    float: right;
}

/********* Ovveride **************/

.google-visualization-table-table .gradient,
.google-visualization-table-div-page .gradient {


  background: #cccccc repeat-x left bottom;
}
