body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
}

#left-panel{
    background-color: #CCCCCC;
}

#main-content{
    background-color: #1111FF;
}

.menu{

}

.menu li{

}

.navbar-inner{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}


/********* Utils *********/

.center{
    text-align: center;
}